body {
  font-family: "Ubuntu", sans-serif;
  background-color: #ededed;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

.container {
  max-width: 70%;
  background-color: #ffffff;
}

.today-forecast-icon {
  width: 140px;
}

.forecast-icon {
  font-size: 50px;
}

.card {
  text-align: center;
}

.day-name {
  font-size: 18px;
}

.degrees {
  text-decoration: none;
}

.git-hub-rep {
  text-align: center;
  margin: 10px 0 30px;
}

.git-hub-rep a {
  text-decoration: none;
}

.temperature {
  font-size: 60px;
  position: relative;
  top: -20px;
}

.temperature-box {
  height: 57px;
}

.temperature-box a {
  text-decoration: none;
}

.units {
  position: relative;
  top: -50px;
}

.weather-description {
  font-size: 18px;
  font-weight: bold;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.active:hover {
  color: black;
}
